@font-face {
    font-family: 'pixelFont';
    src: url(../fonts/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf);
}

div.scoreDisplay {
    width: 600px;
    margin: auto;

}

#score {
    text-align:left ;
    margin: 0px;

}

div.gameObjects {
    display: none;
}

#menuText {
    margin-top: 100px;
    text-align: center;
    font-family: 'pixelFont';
    font-size: 60px;
    color: greenyellow;
}

#menuButton {
    position: relative;
    top: 450px;
    display: block;
    margin: auto;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: orange;
    
}

div.game {

    width: 600px;
    height: 800px;
    border: 1px solid black;
    margin: auto;
    background-image: url(../images/background.png);
    animation: animatedBackground 10s linear infinite;
    /* Without overflow being hidden the tubes go outside of the game's border */
    overflow: hidden;
    
    
  
  }

div.tubeTop {
    width: 75px;
    height: 550px;
    background-image: url(../images/tubedown.png);
    background-position: bottom;
    position: relative;

    animation: tubeMove 3s infinite linear;

}

div.hole {
    width: 75px;
    height: 200px;
    background-color: transparent;
    position: relative;
    animation: tubeMove 3s infinite linear;
}

div.tubeBottom {
    width: 75px;
    height: 800px;
    background-image: url(../images/tubeup.png);
    position: relative;
    animation: tubeMove 3s infinite linear;

}

div.bird {
    width: 50px;
    height: 50px;
    margin-top: 250px;
    background-image: url("../images/bird.png");
    position: absolute;
}



/* Makes the background image move from right to left */

@keyframes animatedBackground {
    from {
        background-position: 0 0;
      }
      to {
        background-position: 100% 0;
      }
}
/* Makes the tubes move from right to left */
@keyframes tubeMove {
    from {left: 600px;}
    to {left: -75px;}
}

