/* Font import for the pixelated font used in the main menu of the game */
@font-face {
    font-family: 'pixelFont';
    src: url(../fonts/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf);
}
/* Centers the welcome message */
#welcomeMessage {
    text-align: center;
}
/* Styles the div for the score as well as the highscore display */
div.scoreDisplay {
    width: 600px;
    margin: auto;

}


/* Hides the game objects by default */
/* Game objects are the bird and the pipes */
/* This is so that menu objects may be overlayed by default */
div.gameObjects {
    display: none;
}
/* Styles "Flappy Bird Game" */
#menuText {
    margin-top: 100px;
    text-align: center;
    font-family: 'pixelFont';
    font-size: 60px;
    color: greenyellow;
}
/* Styles the Play button */
#menuButton {
    position: relative;
    top: 450px;
    display: block;
    margin: auto;
    font-family: 'pixelFont';
    font-size: 20px;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: orange;

}

#wrapper {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

#howToPlay {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    background-color: #2e3338;
    margin-left: 100px;
}

/* Styles the game 'canvas' */
div.game {
    width: 600px;
    height: 800px;
    border: 1px solid black;
    margin-left: 400px;
    /* background img */
    background-image: url(../images/background.png);
    /* Using keyframes we animate it from right to left */
    animation: animatedBackground 10s linear infinite;
    /* Without overflow being hidden the tubes go outside of the game's border */
    overflow: hidden;



}

/* The top pipe */
div.tubeTop {
    width: 75px;
    height: 550px;
    background-image: url(../images/tubedown.png);
    background-position: bottom;
    position: relative;
    /* Animate object to move from right to left */
    animation: tubeMove 3s infinite linear;

}
/* The hole between the pipes */
div.hole {
    width: 75px;
    height: 200px;
    /* We make it transparent */
    background-color: transparent;
    position: relative;
    /* right to left animation  */
    animation: tubeMove 3s infinite linear;
}
/* Bottom pipe */
div.tubeBottom {
    width: 75px;
    height: 800px;
    background-image: url(../images/tubeup.png);
    position: relative;
    /* Right to left animation */
    animation: tubeMove 3s infinite linear;

}
/* bird */
div.bird {
    width: 50px;
    height: 50px;
    /* Position it to the middle */
    margin-top: 250px;
    /* Move slightly away from the left border */
    margin-left: 50px;
    background-image: url("../images/bird.png");
    position: absolute;
}



/* Makes the background image move from right to left */

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }
}

/* Makes the tubes move from right to left */
@keyframes tubeMove {
    from {
        left: 600px;
    }

    to {
        left: -75px;
    }
}