
div.game {
    width: 600px;
    height: 800px;
    border: 1px solid black;
    margin: auto;
    background-image: url(../images/background.png);
    animation: animatedBackground 10s linear infinite;
    /* Without overflow being hidden the tubes go outside of the game's border */
    overflow: hidden;
    
  
  }



div.tubeTop {
    width: 75px;
    height: 550px;
    background-color: green;
    position: relative;

    animation: tubeMove 3s infinite linear;

}

div.hole {
    width: 75px;
    height: 200px;
    background-color: transparent;
    position: relative;
    animation: tubeMove 3s infinite linear;
}

div.tubeBottom {
    width: 75px;
    height: 800px;
    background-color: green;
    position: relative;
    animation: tubeMove 3s infinite linear;

}

div.bird {
    width: 50px;
    height: 50px;
    margin-top: 250px;
    background-image: url("../images/bird.png");
    position: absolute;
}



/* Makes the background image move from right to left */

@keyframes animatedBackground {
    from {
        background-position: 0 0;
      }
      to {
        background-position: 100% 0;
      }
}
/* Makes the tubes move from right to left */
@keyframes tubeMove {
    from {left: 600px;}
    to {left: -75px;}
}

