h1 {
  text-align: center;
}

h2 {
  text-align: center;
}


table,
td,
th {
  border: solid 3px black;
  text-align: left;




}

table {
  border-collapse: collapse;
  width: 50%;
  margin: auto;
}


th,
td {
padding: 15px;
}