* {
  box-sizing: border-box
}

html {
  background-color: #272b30;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*Color for text*/
  color: #c8c8c8;
}
p {
  font-size: 14px;
  line-height: 1.5;
  padding: 10px;
}
/*Sets the flappy bird logo in the top left*/
#logo {
  background: url(../images/logo.png) no-repeat center;
  width: 120px;
  height: 47px;
}
/*Centers h1 and h2s */
h1, h2 {
  text-align: center;
}

/* NAV bar */
ul {
  list-style-type: none;
  margin: 0;

  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Hovering turns nav bar button black */
li a:hover {
  background-color: #111;
}
/* Website in view turns that element green */
.active {
  background-color: green;
}


div.container {
  padding: 16px;

}

/* Styles submit button on login and registers pages */
#submitButton {
  background-color: green;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
/* Different color when button is hovered with cursor */
#submitButton:hover {
  background-color: #f1f1f1;
  color: black;
}

/* Styles forms on login and registration pages */
input[type=text],
input[type=email],
input[type=tel],
input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
/* When clicked it turns forms to a darker shade of gray */
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}
/* Styles the password and phone number validation checkbox panels */
#message, #messagePhoneNum {
  /* By default this is hidden and is only shown when password or phone number form is focused */
  display:none;
  
  color: #c8c8c8;
  position: relative;
  padding-left: 20px;
}

#message p, #messagePhoneNum p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: lightgreen;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


/* Leader board table styling */
#target {
  width: 600px;
  margin: auto;
}

table,
td,
th {
  border: solid 3px black;
  text-align: center;




}

table {
  border-collapse: collapse;
  width: 600px;
}



th,
td {
  width: 275px;
  padding: 8px;
}